<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="refresh" content="5" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <style>
      h1 {
        font-size: 200px;
        display: block;
      }
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Nunito", sans-serif;
      }
      h2 {
        visibility: visible;
        position: relative;
        font-size: 40px;
      }

    </style>
  </head>
  <body>
    <h1>&#128532</h1>
    <h2>Sorry we couldn't acess the server now</h2>
  </body>
  <script></script>
</html>
